# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# Raw JSON files are too large for git
data/raw/

# Results and models — large files
results/
models/
mlruns/
mlartifacts/
reports/figures/

# Environment
.env

# OS
.DS_Store
*.swp

# IDE
.vscode/
.idea/
